body {
    background-color: #F8F8F8;
    font-family: 'Dosis', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    margin-top: 25px;
}

#nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
	font-weight: 300;
	color: #000000;
}

#nav-cafes:hover {
    text-decoration: underline;
    cursor: pointer;
}
#nav-home:hover {
    text-decoration: underline;
    cursor: pointer;
}
#nav-about:hover {
    text-decoration: underline;
    cursor: pointer;
}

#title {
    font-family: 'Dosis', sans-serif;
    font-size: 60px;
	font-weight: 500;
	color: #D0A91D;
    position: relative;
    margin-right: 1020px;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

@keyframes sizeChange {
    0% { 
        transform: scale(1); 
    }
    100% { 
        transform: scale(1.1); 
    }
}
@keyframes pinTwinkle {
    0% {
        transform: rotate(0deg);
    }
    3% {
        transform: rotate(-20deg);
    }
    6% {
        transform: rotate(10deg);
    }
    10% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.map-base {
    position: absolute;
    right: -20px;
    top: 80px;
    opacity: 40%;
    width: 1000px;
}

.map-pin {
    position: absolute;
    width: 80px;
}

#map-pin-1 {
    left: 1220px;
    top: -280px;
}
#map-pin-1:hover + #list-cafe-1 {
    text-decoration: underline;
    animation: sizeChange 0.3s ease-in-out forwards;
}

#map-pin-2 {
    left: 760px;
    top: -150px;
}
#map-pin-2:hover + #list-cafe-2 {
    text-decoration: underline;
    animation: sizeChange 0.3s ease-in-out forwards;
}

#map-pin-3 {
    left: 980px;
    top: -110px;
}
#map-pin-3:hover + #list-cafe-3 {
    text-decoration: underline;
    animation: sizeChange 0.3s ease-in-out forwards;
}

#map-pin-4 {
    left: 560px;
    top: 100px;
    animation: pinTwinkle 5s infinite linear;
}
#map-pin-4:hover + #list-cafe-4 {
    text-decoration: underline;
    animation: sizeChange 0.3s ease-in-out forwards;
}

#map-pin-5 {
    left: 470px;
    top: 130px;
}
#map-pin-5:hover + #list-cafe-5 {
    text-decoration: underline;
    animation: sizeChange 0.3s ease-in-out forwards;
}

#map-pin-6 {
    left: 750px;
    top: 150px;
}
#map-pin-6:hover + #list-cafe-6 {
    text-decoration: underline;
    animation: sizeChange 0.3s ease-in-out forwards;
}


#list {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
	font-weight: 300;
    font-style: italic;
	color: #000000;
    height: 180px;
    position: relative;
    margin-right: 1020px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
}
a {
    color: #000000;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

.map-pin:hover, .list-cafe:hover {
    cursor: pointer;
    animation: sizeChange 0.3s ease-in-out forwards;
}